.colour-displayed {
  height: 50px;
  margin-bottom: 20px;
  border-radius: 20%;
  border: solid 1px rgb(129, 127, 127);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  padding: 25px;
  margin: auto;
  width: 30%;
  height: 100%;
  border-radius: 10%;
  background-color: rgb(208, 216, 228);
}

button {
  border: solid 1px rgb(129, 127, 127);
  border-radius: 20%;
  width: 30%;
  height: 35px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #dbe1e6;
  transition: background-color 0.10s ease;
}

button:hover {
  transition: filter 250ms;
  filter: brightness(110%);
  background-color: #dadee3;
}

button:active {
  background-color: #eceef1; /* Change background color on click */
  box-shadow: none; /* Remove box shadow on click for a pressed effect */
}